.js-list {
  width: 1600px;
  display: flex;
  justify-content: space-around;
}
.js-li {
  display: flex;
  align-items: center;
  width: max-content;
  height: 250px;
  list-style: none;
}
.js-image {
  display: inline-block;
  height: 100%;
}
#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input_valid {
  border-color: #4caf50;
}

#validation-input_invalid {
  border-color: #f44336;
}
